.toast {
  position: fixed;
  top: 1em;
  right: 1em;
  max-width: 350px;
  min-height: 80px;
  color: #fff;
  border-radius: 5px;
  /* background-color: #1565c0; */
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  width: inherit;
  font-size: 1rem;
}

.content p {
  width: 250px;
  font-size: 1rem;
  word-wrap: break-word;
}